Thumbs.db
.DS_Store
.gradle
src/dudol/.gradle
src/dudol/bin/
src/dudol/build/
src/dudol/out/
src/dudol/.idea
src/dudol/*.iml
src/dudol/*.ipr
src/dudol/*.iws
src/dudol/.project
src/dudol/.settings
src/dudol/.classpath
.vscode/
src/dudol/.vscode/
src/dudol/bin/
.project
.classpath
.settings/